* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	color-scheme:  dark light;
}
body {
	font-size: 16px;
	background-color: #212529;
    font-family: 'Roboto', sans-serif;
}
.container {
	width: 80%;
	margin: 0 auto;
	background-color: #f8f9fa;
}
nav {
	position: fixed;
  	top:  0;
	width: 80%;
	height: 70px;
	padding: 20px;
	display: flex;
	gap:  20px;
	align-items: center;
	justify-content: space-evenly;
	background-color: #48cae4;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
nav > a,
footer > a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	word-spacing: 1.5px;
}
nav > a:hover,
footer > a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #fff;
}
/****HEAD*****/
.main-text {
	margin: 0 auto;
	width: 70%;
}
h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 30px;
}
.main-text > p {
	line-height: 2;
	font-size: 20px;
	font-weight: 400;
}
.link--website {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
.link--website:hover {
	text-decoration: underline;
}

/****HTML IMAGES SLIDE****/
.frontend, .codewell {
	padding-top: 100px;
}
h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.frontend,
.codewell {
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
img {
	height: 600px;
	max-width: 100%;
	border: 8px solid #90e0ef;
}
footer {
	background-color: #48cae4;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/***MEDIA QUERIES*****/
@media (prefers-color-scheme:  dark) {
	
	.container {
		background-color: #000;
		color: #fff;
	}
	nav,
	footer {
		background-color: #212529;
	}

}

@media only screen and (max-width: 375px) {
	a {
		font-size: 8px;
	}
	
}