* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	color-scheme:  dark light;
}
body {
	font-size: 16px;
	background-color: #212529;
    font-family: 'Roboto', sans-serif;
}
.container {
	width: 80%;
	margin: 0 auto;
	background-color: #f8f9fa;
}
nav {
	position: fixed;
  	top:  0;
	width: 80%;
	height: 70px;
	padding: 20px;
	display: flex;
	gap:  20px;
	align-items: center;
	justify-content: space-evenly;
	background-color: #48cae4;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
nav > a,
footer > a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	word-spacing: 1.5px;
}
nav > a:hover,
footer > a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #fff;
}
button {
	padding: 12px 24px;
	border-radius: 10px;
	font-size: 16px;
	background-color: #48cae4;
	color: #fff;
	font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
	cursor: pointer;

}
button:hover {
	
}
button:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/***MODAL ****/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	top: 0;
	width: 80%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border-radius: 8px;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;

}
/* Add Animation */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
	padding: 15px;
  	background-color: #48cae4;
  	color: white;
}
.modal-header > h2 {
	padding-top: 20px;
}

.modal-body {
	padding: 15px;
}
.box {
	font-family: 'Roboto', sans-serif;
}
.box > input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid lightgray;
	width: 70%;
	font-family: 'Roboto', sans-serif;
}
.message-text-area {
	padding: 10px;
	width: 70%;
	height: 100px;
	font-family: 'Roboto', sans-serif;
	border: 1px solid lightgray;
}
.btn-form {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}
/****HEAD*****/
.main-text {
	margin: 0 auto;
	width: 70%;
}
h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding-top: 120px;
	margin-bottom: 30px;
}
.main-text > p {
	line-height: 2;
	font-size: 20px;
	font-weight: 400;
}
.link--website {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
.link--website:hover {
	text-decoration: underline;
}

/****HTML IMAGES SLIDE****/
.frontend, .codewell {
	padding-top: 100px;
}
h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.frontend,
.codewell {
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
img {
	height: 600px;
	max-width: 100%;
	border: 8px solid #90e0ef;
}
footer {
	background-color: #48cae4;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/***MEDIA QUERIES*****/
@media (prefers-color-scheme:  dark) {
	
	.container {
		background-color: #000;
		color: #fff;
	}
	nav,
	footer,
	button,
	.modal-header {
		background-color: #212529;
	}

}

@media only screen and (max-width: 375px) {
	.container,
	nav {
		width: 100%;
	}
	.links-nav {
		font-size: 8px;
	}
	
}